  .main{
    
    grid-area: main;
    padding-top: 1rem;
    padding:1rem;
  
  
  }
  
  .main__list{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap:1rem;
    padding: 1rem;
  
    list-style-type: none;
  }
  
  .main__item{
    grid-column: span 12;
  }
  
  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    

    
    background-color: #eeeeee;
    border: 0.125rem solid black;
    border-radius: 1rem;
  }
  
  .card__title{
    padding:1rem;
  }

  
  .card__text{
    
    padding-bottom: 2rem;
    display: block;
    margin-bottom: 0.938; 

    padding: 1rem;
  }

  .card__picture{
    height:12.5rem;
    width:12.5rem;
    padding:1rem;
  }
  
  .card__link{
  
    align-self: center;
    margin-top: auto;
    padding: 1rem;
    border-radius: 1rem;
  
    color: white;
    background-color: #DB162F;
   
    text-decoration: none;
  
  }


  .open {
    background: none;
    border: none;
    color: blue; 
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
   

    font-size: 1rem;
  }
  
  .open:hover {
    text-decoration: underline;
  }
  
  

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white; 
    padding: 1.25rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
  }


  .modal::backdrop {
    background-color: rgb(0 0 0 / 0.8 );
    }

  
  .registar-form {

    display: grid;
    grid-template-columns: auto 12.5rem;
  
    max-width: 30rem;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  
  
  }
  
  .registar-form__button {
  
    padding: 0.7rem;
    width: 100%;
    border: 0;
    margin-top: 1rem;
  
    background: lime;
    border-radius: 0.5rem;
  }
  
  .registar-form__label {
    grid-column: span 5;
    
    
  }
  
  .registar-form__input {
    grid-column: span 5;
    height: 1.5rem;
  
  }

  .registar-form__message{
    grid-column: span 5;
    color: red;
  }
  
  
  .registar-form__required {
  
    margin-left: 1rem;
  
  
  }

  .registar-form__error--email{
    grid-column: span 5;
    color: red;
  }
  
  
  
  .registar-form__error--confirm-email{
    grid-column: span 5;
    color: red;
  }


  .close{

    padding: 0.7em;
    width: 6.25rem;
    border: 0;
    margin-top: 1rem;
    margin-left: 6rem;
  
  
    background: lightcoral;
    border-radius: 0.5rem;

  }
  
  
  

  
  
  
  @media(min-width:44rem)
  {
   
  
  
  .main{
      grid-area: main;
      
  }  
  
  .header2_title{
    
      margin-bottom: 4rem;
  
      text-align: center;
  
  }
  
  
  .main__list{
      display: grid;
      grid-template-columns: repeat(12,1fr);
      gap:1rem;
  
      list-style-type: none;
  }
  
  .main__item{
      grid-column: span 4;
  }
  
  .card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #eeeeee;
      align-items: center; 

      border: 0.125rem solid black;
      border-radius: 1rem;
      height: 28.125rem;
    

  }
  
  .card__picture{
    
    width: 12.5rem ;
    height: 12.5rem;
    

  }
  .card__title{
      text-align: center;
  }  
  
  .card__text{
    padding: 1rem;
  }
  
  .card__link{
  
      align-self: center;
      margin-top: auto;
      padding: 1rem;
      border-radius: 1rem;
  
      color: white;
      background-color: #DB162F;
  
      text-decoration: none;
  
    
  
  }

  .open {
    background: none;
    border: none;
    color: blue; 
    text-decoration: underline;
    cursor: pointer;
    padding: 0;

    font-size: 1rem;
  }
  
  .open:hover {
    text-decoration: underline;
  }
  
  


  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white; 
    padding: 1.25rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
  }


  .modal::backdrop {
    background-color: rgb(0 0 0 / 0.8 );
    }

  
  .registar-form {

    display: grid;
    grid-template-columns: auto 12.5rem;
  
    max-width: 30rem;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  
  
  }
  
  .registar-form__button {
  
    padding: 0.7em;
    width: 100%;
    border: 0;
    margin-top: 1rem;
  
    background: lime;
    border-radius: 0.5rem;
  }
  
  .registar-form__label {
    grid-column: span 5;
    
    
  }
  
  .registar-form__input {
    grid-column: span 5;
    height: 1.5rem;
  
  }

  .registar-form__message{
    grid-column: span 5;
    color: red;
  }
  
  
  .registar-form__required {
  
    margin-left: 1rem;
  
  
  }

  .registar-form__error--email{
    grid-column: span 5;
    color: red;
  }
  
  
  
  .registar-form__error--confirm-email{
    grid-column: span 5;
    color: red;
  }


  .close{

    padding: 0.7rem;
    width: 6.25rem;
    border: 0;
    margin-top: 1rem;
    margin-left: 9rem;
  
  
    background: lightcoral;
    border-radius: 0.5rem;

  }
  
  
  .footer{
      grid-area: footer;
      justify-content: space-around;

      
  
      
  }

  }
  
  